@font-face{
    font-family: 'Babas';
    src: url('fontes/BebasNeue-Regular.ttf');
}
@font-face{
    font-family: 'Idroid';
    src: url('fontes/idroid.otf');
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --Cor0: #070208;
    --Cor1: #2d1333;
    --Cor2: #58265e;
    --Cor3: #743d85;
    --Cor4: #8f58a8;
    --Cor5: #f1d4fa;
    --Cor6: #faf5fc;
    --Cor0A: #080802;
    --Cor1A: #333113;
    --Cor2A: #5e5d26;
    --Cor3A: #857a3d;
    --Cor4A: #a8a058;
    --Cor5A: #faf7d4;
    --Cor6A: #fcfcf5;

    --CorP: #232323;
    --CorB: #f5f5f5;
}
body{
    background-color: var(--Cor5);
    max-width: 730px;
    min-width: 280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* Cabeça */
header{
    background-image: linear-gradient(to bottom, var(--Cor3), var(--Cor1));
    color: var(--CorB);
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    width: 100VW;
}
header > h1{
    font-family: 'Babas';
    margin: 20px 4px 4px 4px;
}
header > span{
    margin: 1%;
}
header > span > p{
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header > nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
header > nav > a{
    color: var(--CorB);
    text-decoration: none;
    margin: 0px 0px 0px 14px;
}
header > nav > a:hover{
    color: var(--Cor4A);
}
/* Main */
main{
    background-color: var(--CorB);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin: 0% 0% 2% 0%;
}
#Coteudo{
    padding: 4%;
}
#Coteudo > p{
    text-indent: 20px;
    line-height: 1.2em;
    font-size: 1em;
}
#Coteudo > h1, h2, h3{
    color: var(--Cor2);
    font-family: 'Idroid';
    margin: 10px;
}
#Coteudo > h2, h3{
    background-image: linear-gradient(to right, var(--Cor5), transparent);
}
a{
    text-decoration: none;
}
article{
    background-color: var(--Cor5);
    border-radius: 20%;
    padding: 6%;
}
article > h4{
    color: var(--CorB);
    width: 100%;
    background-color: var(--Cor2);
    height: 16%;
}
ul{
    columns: 2;
}
footer{
    width: 100vw;
    background-color: var(--Cor1);
    color: var(--CorB);

    display: flex;
    justify-content: center;
    align-items: center;
}